//color
$primary-120: #7b6651; //Dark
$primary-100: #bf9d7d; //Base
$primary-80: #d0b79f;
$primary-60: #e1d1c2;
$primary-40: #f1eae4;
$primary-Tint: #faf7f5;

$success-120: #299f65;
$success-100: #52dd7e; //Base
$success-20: #bcfbbd;
$success-10: #e8fee7;

$info-120: #1d66ac;
$info-100: #3badef; //Base
$info-20: #b1effd;
$info-10: #e6fbfe;

$alert-120: #c22538;
$alert-100: #da3e51; //Base
$alert-20: #f5ccd1;
$alert-10: #fdecef;
